# 1. a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required.

In [ ]:
! pip install selenium

In [ ]:
#importing all required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
#Lets first connect to the web driver
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [ ]:
#Find elements for job search bar
search_field_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")   #Job search bar
search_field_designation.send_keys("Data Analyst")

In [ ]:
#Entering the location using Xpath
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")   #Job search bar
search_field_location.send_keys("Bangalore")

In [ ]:
#Clicking on the search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [ ]:
#Declaring the variables
job_titles=[]
company_name=[]
location_list=[]
experience_list=[]
#Extract all the tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    job_titles.append(i.text)

In [ ]:
#Extracting the data of company Name
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_name.append(i.text)

In [ ]:
#Extracting the details of locations
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in location_tags:
   # title=i.text
    location_list.append(i.text)
location_list.pop(3)
location_list.pop(8)

In [ ]:
#Extracting the details of Experience
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in experience_tags:
   # title=i.text
    experience_list.append(i.text)

In [ ]:
#Creating the data frame.
jobs=pd.DataFrame({'Title':job_titles[:10],'Name':company_name[:10],'Location':location_list[:10],'Experience':experience_list[:10]})
jobs

In [ ]:
#Closing the automated chrome window
driver.close()

# 2. a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name.

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [ ]:
#Find elements for job search bar
search_field_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")   #Job search bar
search_field_designation.send_keys("Data Scientist")

In [ ]:
#Entering the location using Xpath
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")   #Job search bar
search_field_location.send_keys("Bangalore")

In [ ]:
#Clicking on the search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [ ]:
#Declaring the variables
job_titles=[]
company_name=[]
location_list=[]
experience_list=[]
#Extract all the tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    job_titles.append(i.text)

In [ ]:
#Extracting the company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_name.append(i.text)

In [ ]:
#Extracting the locations
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in location_tags:
   # title=i.text
    location_list.append(i.text)
location_list.pop(3)

In [ ]:
#Creating the data frame
jobs=pd.DataFrame({'Title':job_titles[:10],'Name':company_name[:10],'Location':location_list[:10]})
jobs

In [ ]:
#To close the automated chrome window
driver.close()

# 3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com/')

In [ ]:
#Find elements for job search bar
search_field_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")   #Job search bar
search_field_designation.send_keys("Data Scientist")

In [ ]:
#Entering the location using Xpath
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")   #Job search bar
search_field_location.send_keys("Delhi/NCR")

In [ ]:
#Clicking on the search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [ ]:
#Clicking on the Salary filter button
salary_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]")
salary_button.click()

In [ ]:
#Clicking on the Salary filter button
location_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[12]/div[2]/div[2]")
location_button.click()

In [ ]:
#Declaring the variables
job_titles=[]
company_name=[]
location_list=[]
experience_list=[]
#Extract all the tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles_tags:
    job_titles.append(i.text)

In [ ]:
#Extracting the company names
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_name.append(i.text)

In [ ]:
#Extracting the locations
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in location_tags:
    location_list.append(i.text)

In [ ]:
#Extracting the experience
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in experience_tags:
    experience_list.append(i.text)

In [ ]:
#Creating the data frame
jobs=pd.DataFrame({'Title':job_titles[:10],'Name':company_name[:10],'Location':location_list[:10],'Experience':experience_list[:10]})
jobs

In [ ]:
#To close the automated chrome window
driver.close()

# 4. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
Brand
Product Description
Price The attributes which you have to scrape is ticked marked in the below image

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.flipkart.com/')

In [ ]:
#Clicking on the Closing pop up window button
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [ ]:
#Find elements for job search bar
search_field=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")   #Job search bar
search_field.send_keys("Sunglasses")

In [ ]:
#Closing the login pop up window
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [ ]:
#Declaring the variables
brand_name=[]
product_details=[]
price_list=[]

#Extract all the tags having the Brand Name
for i in range(0,3):
    titles_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in titles_tags:
        brand_name.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [ ]:
#Extract all the price tags and details
for i in range(0,3):
    price_tags=driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
    for i in price_tags:
        price_list.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [ ]:
#Extract all the tags related to product details
for i in range(0,3):
    product_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product_tags:
        product_details.append(i.text)
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [ ]:
#Creating the data frame
df=pd.DataFrame({'Brand':brand_name[:100],'Product Details':product_details[:100],'Price':price_list[:100]})
df

In [ ]:
#Closing the automated chrome window
driver.close()

# 5. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

In [372]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [373]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [374]:
#Scraping Data
rating=[]
review_summary=[]
full_review=[]

rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating_tags[0:10]

for i in rating_tags:
    score=i.text
    rating.append(score)
rating[0:10]

review_summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
review_summary_tags[0:10]

for i in review_summary_tags:
    summary=i.text
    review_summary.append(summary)
review_summary[0:10]    

full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review_tags[0:10]

for i in full_review_tags:
    review=i.text
    full_review.append(review)
full_review[0:10]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow']

In [375]:
#Extracting tags and collecting the data of reviews
df = pd.DataFrame()
df['Rating']=rating
df['Review_summary']=review_summary
df['Full_review']=full_review
df.head(10)

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
8,4,Good choice,So far it’s been an AMAZING experience coming ...
9,5,Highly recommended,What a camera .....just awesome ..you can feel...

In [376]:
#Closing the automated chrome window
driver.close()

# 6. Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.flipkart.com/')

In [ ]:
#Clicking on the Closing pop up window button
close_button=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [ ]:
#Find elements for job search bar
search_field=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")   #Job search bar
search_field.send_keys("sneakers")

In [ ]:
#Utilizing the search functionality 
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [ ]:
#Declaring the variables
brand_name=[]
product_details=[]
price_list=[]

#Extract all the tags having the Brand Name
for i in range(0,3):
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        brand_name.append(i.text)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [ ]:
#Extract all the tags related to product details
for i in range(0,3):
    product_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in product_tags:
        product_details.append(i.text)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [ ]:
#Extract all the price tags and details
for i in range(0,3):
    price_tags=driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
    for i in price_tags:
        price_list.append(i.text)
    next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [ ]:
#Creating the data frame
df=pd.DataFrame({'Brand':brand_name[:100],'Product Details':product_details[:100],'Price':price_list[:100]})
df

In [ ]:
#Closing automated chrome window
driver.close()

# 7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown in the below image And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get('https://www.myntra.com/shoes')

In [ ]:
#Set the color filter to BLACK
color_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [ ]:
#Set the filter to Rs 7149 to Rs 14099
price_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [ ]:
#Declaring the variables
brand_name=[]
product_details=[]
price_list=[]
page_urls=[]

#Collecting the URL of all the pages
nxt_page = driver.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))

In [ ]:
#Extract all the tags having the Brand Name
for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names
    for i in Names:
        brand_name.append(i.text)
    brand_name   
    time.sleep(5)

In [ ]:
#Extract all the tags having the product details
for url in page_urls[:2]:
    driver.get(url)
    product_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')  #for scrapping shoe Product details
    for i in product_tags:
        product_details.append(i.text)
    product_details   
    time.sleep(5)

In [ ]:
#Extract all the tags having the price details
for url in page_urls[:3]:
    driver.get(url)
    price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')  #for scrapping shoe Product details
    for i in price_tags:
        price_list.append(i.text)
    price_list   
    time.sleep(5)

In [ ]:
#Creating the data frame
df=pd.DataFrame({'Brand':brand_name[:100],'Product Details':product_details[:100],'Price':price_list[:100]})
df

In [ ]:
#Closing the automated window
driver.close()

# 8. Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

Title
Ratings
Price As shown in the below image as the tick marked attributes

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.amazon.in/')

In [ ]:
#Find elements for job search bar
search_field=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')   #Job search bar
search_field.send_keys("Laptop")

In [ ]:
#Click on search button
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [ ]:
#Set the color filter to to select i7 CPU
i7_filter=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div/label/i")
i7_filter.click()

In [ ]:
#Set the color filter to to select i5 CPU
i5_filter=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[2]/span/a/div/label/i")
i5_filter.click()

In [ ]:
#Declaring the variables
title_name=[]
ratings=[]
price_list=[]

#Extract the title of the laptop
titles_tags=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in titles_tags:
    title_name.append(i.text)

In [ ]:
#Extract the price details
price_tags=driver.find_elements_by_xpath('//div[@class="a-row a-size-base a-color-base"]')
for i in price_tags:
    price_list.append(i.text)

In [ ]:
#Extract the ratings
rating_tags=driver.find_elements_by_xpath('//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rating_tags:
   # title=i.text
    ratings.append(i.text)

In [ ]:
#Creating the Data Frame. 
#The output was suggested by the mention after raising the ticket.
df=pd.DataFrame({'Title':title_name[:10],'Price':price_list[:10],'Ratings':ratings[:10]})
df

In [ ]:
#Closing the automated window
driver.close()

# 9. a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

First get the webpage https://www.ambitionbox.com/
Click on the Job option as shown in the image

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [ ]:
#Click on the jobs category
jobs_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
jobs_button.click()

In [ ]:
#Find elements for job search bar
search_field=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')   #Job search bar
search_field.send_keys("Data Scientist")

In [ ]:
#Click on search button
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_button.click()

In [ ]:
#Check mark the location
location_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]")
location_button.click()

In [ ]:
#Enter the location to search
search_location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_location.send_keys("Noida")

In [ ]:
#Select the location from the dropdown
radio_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input")
radio_button.click()

In [ ]:
#Extract the job details
job_details=[]
job_tags=driver.find_elements_by_xpath('//div[@class="info"]')
for i in job_tags:
   # title=i.text
    job_details.append(i.text)

In [ ]:
#Creating the data frame
df=pd.DataFrame({'Top 10 Data Scientist Jobs in Noida':job_details[:10]})
df

In [ ]:
#Closing the automated chrome window
driver.close()

# 10. a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:

First get the webpage https://www.ambitionbox.com/
Click on the salaries option as shown in the image.

In [ ]:
! pip3 install selenium

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [ ]:
#Lets first connect to the web driver
driver=webdriver.Chrome(r"C:\chromedriver.exe")

In [ ]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
#Opening up naukri.com website on automated chrome window
driver.get('https://www.ambitionbox.com/')

In [ ]:
#Click on the Salary category
salaries_button=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salaries_button.click()

In [ ]:
#Search for the designation
search_field=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')   #Job search bar
search_field.send_keys("Data Scientist")

In [ ]:
#Selecting the designation from drop down
designation_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/button/span')
designation_button.click()

In [ ]:
#Declaring the variables
company_name=[]
salary_record=[]
exp_details=[]
avg_salary=[]
min_max_salary=[]
min_salary=[]
max_salary=[]

In [ ]:
#Extracting the data of company name
company_tags=driver.find_elements_by_xpath('//div[@class="name"]/a')
for i in company_tags:
    company_name.append(i.text)

In [ ]:
#Extracting the salary records 
records_tags=driver.find_elements_by_xpath('//span[@data-v-7f256731]')
for i in records_tags:
    salary_record.append(i.text)
salary_record[0::2]
exp_details=salary_record[1::2]

In [ ]:
#Extracting the data of avg salary 
avgsalary_tags=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in avgsalary_tags:
    avg_salary.append(i.text)
del avg_salary[:9]

In [ ]:
#Extracting the data of min and max salary from the scale
min_max_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in min_max_tags:
    min_max_salary.append(i.text)
del min_max_salary[:18]

In [ ]:
min_salary=min_max_salary[0::2]
max_salary=min_max_salary[1::2]

In [ ]:
#Creating the data frame.
df=pd.DataFrame({'Compary Name':company_name,'Salary Record':salary_record[0::2],'Experience':exp_details,"Average Salary":avg_salary,"Minimum Salary":min_salary,"Maxium Salary":max_salary})
df

In [ ]:
#Closing the automated chrome window
driver.close()